<div style="height: 100vh; background-color: whitesmoke;" [@parent]>
	<div class="toolbar" role="banner">
		<div class="redirect" (click)="goBack()">
			<span style="font-size: 40px; padding-left: 50px; padding-right: 10px; color: white">Pediassist</span>
			<svg 
				class="bi bi-pencil-square" 
				width="1em" 
				height="1em" 
				viewBox="0 0 16 16" 
				font-size="20px" fill="currentColor" 
				xmlns="http://www.w3.org/2000/svg"
			>
			<path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
			<path 
				fill-rule="evenodd" 
				d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
			</svg>
		</div>
		<div class="icon">
			<img 
				*ngIf="patients.activePatient.avatar" 
				src= "assets/icons/{{patients.activePatient.avatar}}" 
				[@iconFadeInOut]
			>
		</div>
		<div style="display: flex; flex-direction: row; width: 350px; padding-right: 10px; position: absolute; right: 10px;">
			<div class="cardContainer">
				<div 
					class="card cardSize" 
					[ngStyle]="{'background-color': stickyNoteStyles[0].color, 
					'transform': 'rotate('+stickyNoteStyles[0].angle+')'
					}"
				>
					<div class="card-body">
					</div>
				</div>
			</div>
			<div class="cardContainer">
				<div 
					class="card cardSize" 
					[ngStyle]="{'background-color': stickyNoteStyles[1].color, 
					'transform': 'rotate('+stickyNoteStyles[1].angle+')'
					}"
				>
					<div class="card-body">
					</div>
				</div>
			</div>
			<div class="cardContainer">
				<div 
					class="card cardSize" 
					[ngStyle]="{'background-color': stickyNoteStyles[2].color, 
					'transform': 'rotate('+stickyNoteStyles[2].angle+')'
					}"
				>
					<div class="card-body">
					</div>
				</div>
			</div>
			<div class="cardContainer">
				<div 
					class="card cardSize" 
					[ngStyle]="{'background-color': stickyNoteStyles[3].color, 
					'transform': 'rotate('+stickyNoteStyles[3].angle+')'
					}"
				>
					<div class="card-body">
					</div>
				</div>
			</div>
			<div class="cardContainer">
				<div 
					class="card cardSize" 
					[ngStyle]="{'background-color': stickyNoteStyles[4].color, 
					'transform': 'rotate('+stickyNoteStyles[4].angle+')'
					}"
				>
					<div class="card-body">
					</div>
				</div>
			</div>
			<div class="cardContainer">
				<div 
					class="card cardSize" 
					[ngStyle]="{'background-color': stickyNoteStyles[5].color,
					'transform': 'rotate('+stickyNoteStyles[5].angle+')'
					}"
				>
					<div class="card-body">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div style="height: 80px; box-shadow: 0 6px 6px -6px; position: relative; background-color: white; z-index: 5;">
		<div *ngIf="!patientId" style="width: 100%; height: 80px; display: flex; position: absolute; z-index: 6;" [@listToolbarTransfer]>
			<div style="width: 160px; text-align: center; display: flex; align-items: center; justify-content: center; background-color: white; border-right: 1px solid gray;">#</div>
			<ul class ='table-lables'>
				<li class= 'label-item-container' *ngFor="let label of patientDataLabels; let i = index" [ngStyle]="{'flex': i === 0 ? .3 : 1}"> 
					{{label}}
				</li>
				<div style="color: black; flex: 1; display: flex; justify-content: center;">
					<img src= "assets/icons/parrot-facing-left.svg" style="width: 40px">
				</div>	
			</ul>
			<div style="width: 160px; text-align: center; display: flex; align-items: center; justify-content: center;height: 100%; border-left: 1px solid gray;">
				<div class="button-container">
					<button
						class="patient-button"
						data-toggle="modal" 
						data-target="#newPatientModal"
						[disabled]="!patients.connected"
					>
						<svg class="bi bi-plus-circle-fill" width=auto  viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4a.5.5 0 0 0-1 0v3.5H4a.5.5 0 0 0 0 1h3.5V12a.5.5 0 0 0 1 0V8.5H12a.5.5 0 0 0 0-1H8.5V4z"/>
						</svg>
					</button>
					<button
						id="minus"
						class="patient-button minus-button"
						(click)="deleteMode = !deleteMode"
						[disabled]="!patients.connected"
					>
						<svg class="bi bi-dash-circle-fill" width="auto" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4 7.5a.5.5 0 0 0 0 1h8a.5.5 0 0 0 0-1H4z"/>
						</svg>
					</button>
				</div>
			</div>
		</div>
		<div *ngIf="patientId" style="width: 100%; height: 80px; position: absolute; z-index: 2;" [@viewToolbarTransfer] [@.disabled]="alreadyVisited">
			<ul class ='table-lables' style="position: absolute; z-index: 10;">
				<button 
					class="tab"
					style="flex:1; border-right: 1px solid gray; height: 100%;"
					data-toggle="modal" 
					data-target="#exampleModal"
					[disabled]="!patients.connected"
				>
					New Eval
				</button>
				<button 
					id="vmi" 
					style="flex: 1;"
					(click)="visibleCategory = 'vmi'"
					[ngClass]="{'tabSelected': visibleCategory === 'vmi', 'tab': visibleCategory !== 'vmi'}"
				>
					VMI
				</button>
				<button 
					id="vp" 
					(click)="visibleCategory = 'vp'"
					[ngClass]="{'tabSelected': visibleCategory === 'vp', 'tab': visibleCategory !== 'vp'}"
				>
					VP
				</button>
				<button 
					id="mc"
					style="flex: 1" 
					(click)="visibleCategory = 'mc'"
					[ngClass]="{'tabSelected': visibleCategory === 'mc', 'tab': visibleCategory !== 'mc'}"
				>
					MC
				</button>
				<div style="flex: 1; border-left: 1px solid gray; font-size: 20px; height: 100%; display: flex; justify-content: center; align-items: center;">
					Age {{patients.activePatient.ageYear}}:{{patients.activePatient.ageMonth}}
				</div>
			</ul>
		</div>
	</div>
	<div *ngIf="message" style="display: flex; position: absolute; width: 100%; justify-content: center; z-index: 1;">
		<div class="alert alert-primary" style="width: 100%; display: flex; height: 60px; align-items: center;" role="alert">
			<button class="alert-button">
				<svg (click)="message = null" class="bi bi-x-circle-fill" width="auto" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.146-3.146a.5.5 0 0 0-.708-.708L8 7.293 4.854 4.146a.5.5 0 1 0-.708.708L7.293 8l-3.147 3.146a.5.5 0 0 0 .708.708L8 8.707l3.146 3.147a.5.5 0 0 0 .708-.708L8.707 8l3.147-3.146z"/>
				</svg>
			</button>
			<div style="height: 100%; display: flex; align-items: center;">
				{{message}}
			</div>
		</div>
	</div>
	<div style="height: calc(100% - 200px); position: relative;">
		<app-patient-list *ngIf="!patientId" (newMessage)="message=$event" (changeView)="selectPatient($event)" [mode]="deleteMode"></app-patient-list>
		<app-patient-view *ngIf="patientId" (newMessage)="message=$event" [pid]="patientId" [category]="visibleCategory" (alreadyVisited)="alreadyVisited=$event"></app-patient-view>
	</div>
</div>